#
# PINCTRL infrastructure and drivers
#

config PINCTRL_TCA6418
        bool "TCA6418 pinctrl driver"
        depends on OF
        select I2C
        select PINMUX
        select PINCONF
        select GPIOLIB
        help
          Say Y here to enable the TCA6418 pinctrl driver
endmenu
